.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
*.build
.iso-env
.private
App/.swiftpm
Assets/.swiftpm
Bootstrap/.swiftpm
Assets/Audio/*
Audio.zip
./Package.resolved
Sources/ApiClientLive/Secrets.swift
Sources/AppAudioLibrary/Resources/**/*.caf
Sources/AppAudioLibrary/Resources/**/*.mp3
Sources/AppClipAudioLibrary/Resources/**/*.caf
Sources/AppClipAudioLibrary/Resources/**/*.mp3
Sources/DictionaryFileClient/Dictionaries/*.gz
Sources/DictionarySqliteClient/Dictionaries/*.db
Sources/Styleguide/Fonts/*.otf
