<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-1</string>
				</array>
			</dict>
			<key>icon-2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-2</string>
				</array>
			</dict>
			<key>icon-3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-3</string>
				</array>
			</dict>
			<key>icon-4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-4</string>
				</array>
			</dict>
			<key>icon-5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-5</string>
				</array>
			</dict>
			<key>icon-6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-6</string>
				</array>
			</dict>
			<key>icon-7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-7</string>
				</array>
			</dict>
			<key>icon-8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-8</string>
				</array>
			</dict>
			<key>icon-iso</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-iso</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-1</string>
				</array>
			</dict>
			<key>icon-2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-2</string>
				</array>
			</dict>
			<key>icon-3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-3</string>
				</array>
			</dict>
			<key>icon-4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-4</string>
				</array>
			</dict>
			<key>icon-5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-5</string>
				</array>
			</dict>
			<key>icon-6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-6</string>
				</array>
			</dict>
			<key>icon-7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-7</string>
				</array>
			</dict>
			<key>icon-8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-8</string>
				</array>
			</dict>
			<key>icon-iso</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-iso</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>co.pointfree.Isowords</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>isowords</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>102</string>
	<key>GitSHA</key>
	<string></string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>ngrok.io</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
